<div class="features-tabs pt-90 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="section_title_wrapper text-center mb-50">
                    <h2 class="section-title">
                        Categorías
                    </h2>
                    <p class="section-subtitle">
                        Todo lo que necesitas, agrupado para tu comodidad.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <nav class="fearured-tabs-menu">
                    <div class="nav nav-tabs fearured-tabs-menu-link mb-70" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">Mapas</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                            aria-selected="false">Formatos</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12">
                                <div class="featured2 grey-bg mb-30">
                                    <div class="featured2-icon mb-40">
                                        <img src="assets/img/featureds/featured2-4.png"
                                        alt="image not found">
                                    </div>
                                    <h4 class="featured2-title mb-23">
                                        <a href="documy.html">Mapas</a>
                                    </h4>
                                    <p class="mb-40">Para estudiar la geografía física y política de México y el mundo.</p>
                                    <a href="documy.html" class="theme-btn read-more2-btn">Ver mapas</a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-featured2 ml-40">
                                    <div class="featured2-item d-flex mb-50">
                                        <div class="featured2-item-left mr-20">
                                            <div class="featured2-item-left-icon">
                                                <img src="assets/img/featureds/featured2-1.png"
                                                    alt="image not found">
                                            </div>
                                        </div>
                                        <div class="featured2-item-right">
                                            <h4 class="featured2-item-right-title mb-20">
                                                <a href="component.html">Países</a>
                                            </h4>
                                            <p>Descripción de la categoría</p>
                                        </div>
                                    </div>
                                    <div class="featured2-item d-flex  mb-50">
                                        <div class="featured2-item-left mr-20">
                                            <div class="featured2-item-left-icon">
                                                <img src="assets/img/featureds/featured2-2.png"
                                                    alt="image not found">
                                            </div>
                                        </div>
                                        <div class="featured2-item-right">
                                            <h4 class="featured2-item-right-title mb-20">
                                                <a href="content.html">Estados</a>
                                            </h4>
                                            <p>Descripción de la categoría</p>
                                        </div>
                                    </div>
                                    <div class="featured2-item d-flex mb-50">
                                        <div class="featured2-item-left mr-20">
                                            <div class="featured2-item-left-icon">
                                                <img src="assets/img/featureds/featured2-3.png"
                                                    alt="image not found">
                                            </div>
                                        </div>
                                        <div class="featured2-item-right">
                                            <h4 class="featured2-item-right-title mb-20">
                                                <a href="code-syntax.html">Municipios </a>
                                            </h4>
                                            <p>Descripción de la categoría</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-featured2 ml-40">
                                    <div class="featured2-item d-flex mb-50">
                                        <div class="featured2-item-left mr-20">
                                            <div class="featured2-item-left-icon">
                                                <img src="assets/img/featureds/featured2-4.png"
                                                    alt="image not found">
                                            </div>
                                        </div>
                                        <div class="featured2-item-right">
                                            <h4 class="featured2-item-right-title mb-20">
                                                <a href="layout.html">Políticos</a>
                                            </h4>
                                            <p>Descripción de la categoría</p>
                                        </div>
                                    </div>
                                    <div class="featured2-item d-flex mb-50">
                                        <div class="featured2-item-left mr-20">
                                            <div class="featured2-item-left-icon">
                                                <img src="assets/img/featureds/featured2-5.png"
                                                    alt="image not found">
                                            </div>
                                        </div>
                                        <div class="featured2-item-right">
                                            <h4 class="featured2-item-right-title mb-20">
                                                <a href="core-feature.html">Geográficos</a>
                                            </h4>
                                            <p>Descripción de la categoría</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12">
                                <div class="featured2 grey-bg mb-30">
                                    <div class="featured2-icon mb-40">
                                        <img src="assets/img/featureds/tea.png" alt="img not found">
                                    </div>
                                    <h4 class="featured2-title mb-23">
                                        <a href="documy.html">Formatos</a>
                                    </h4>
                                    <p class="mb-40">Para tus tramites.</p>
                                    <a href="documy.html" class="theme-btn read-more2-btn">Ver formatos</a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-featured2 ml-40 mb-30">
                                    <div class="featured2-item d-flex mb-50">
                                        <div class="featured2-item-left mr-20">
                                            <div class="featured2-item-left-icon">
                                                <img src="assets/img/featureds/featured2-1.png"
                                                    alt="image not found">
                                            </div>
                                        </div>
                                        <div class="featured2-item-right">
                                            <h4 class="featured2-item-right-title mb-15">
                                                <a href="component.html">Escolares</a>
                                            </h4>
                                            <p>Descripción de la categoría</p>
                                        </div>
                                    </div>
                                    <div class="featured2-item d-flex mb-50">
                                        <div class="featured2-item-left mr-20">
                                            <div class="featured2-item-left-icon">
                                                <img src="assets/img/featureds/featured2-2.png"
                                                    alt="image not found">
                                            </div>
                                        </div>
                                        <div class="featured2-item-right">
                                            <h4 class="featured2-item-right-title mb-15">
                                                <a href="content.html">Tramites</a>
                                            </h4>
                                            <p>Descripción de la categoría</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>