<div class="features-tabs pt-90 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="section_title_wrapper text-center mb-50">
                    <h2 class="section-title">
                        Categorías
                    </h2>
                    <p class="section-subtitle">
                        Todo lo que necesitas, agrupado para tu comodidad.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <nav class="fearured-tabs-menu">
                    <div class="nav nav-tabs fearured-tabs-menu-link mb-70" id="nav-tab" role="tablist">
                        <div *ngFor="let category of commonData.categories; let i=index">
                            <button class="nav-link" id="{{category.name}}-tab" data-bs-toggle="tab"
                               [attr.data-bs-target]="'#' + category.name" type="button" role="tab" aria-controls="nav-home" (click)="selectCategory(i, category.id)" [class.active]="categoriesActives[i]">
                                {{category.name}}
                            </button>                    
                        </div>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div *ngFor="let category of commonData.categories; let i=index">
                        <div *ngIf="categoriesActives[i]" class="tab-pane fade" id="{{category.name}}" role="tabpanel" [attr.aria-labelledby]="category.name+'-tab'" [class.show]="categoriesActives[i]">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="featured2 grey-bg mb-30">
                                        <div class="featured2-icon mb-40">
                                            <img src="{{category.image}}"
                                            alt="image not found">
                                        </div>
                                        <h4 class="featured2-title mb-23">
                                            <a href="documy.html">{{category.name}}</a>
                                        </h4>
                                        <p class="mb-40">{{category.description}}</p>
                                        <a routerLink="/categoria" class="theme-btn read-more2-btn">Ver {{category.name | lowercase }}</a>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-6">
                                    <div class="row single-featured2 ml-40">
                                        <div *ngFor="let subCategory of commonData.subCategories[category.id]; let i=index">
                                            <div class="col-12 col-lg-6 featured2-item d-flex mb-50">
                                                <div class="featured2-item-left mr-20">
                                                    <div class="featured2-item-left-icon">
                                                        <img src="{{subCategory.image}}">
                                                    </div>
                                                </div>
                                                <div class="featured2-item-right">
                                                    <h4 class="featured2-item-right-title mb-20">
                                                        <a href="component.html">{{subCategory.name}}</a>
                                                    </h4>
                                                    <p>{{subCategory.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>