$colors: (
	common: (
		white: #fff,
		black: #000,
		blue: #3817E3,
		blue2:#348CFF,
		tb-color: #4F32E2,
		td-color: #6B51F1,
		heading: #1D1D1D,
		body: #666,
		text: #666,
		border: #eaebee,
		placeholder: #707070,
		breadcrumb-bg: #F9F9FB,
		nselect: #0f1d39,
		f-social: #95989b,
		f-border: #ebebeb,
		fcopy-border: #f1f1f1,
		box-bg: #f9fbff,
		du-color: #9A85FF,	
		typed-text: #D4AD2F,
		hover: #2F92D4,
		shrik-text: #2F92D4,
		slide-text: #a22bdc,		 
		newsletter-form: #e7ebf5,
		newsletter-input: #F4F4F6,
		newsletter-btn: #D19631,
		table-default: #a5a5a5,
		table-black: #1d1d1d,
		code-block: #D41F63,
		green1:#2bcc6c,
		green2:#08FF00,
		green3: #4BC273,
		green4: #31CF8B,
		red1: #f22828,
		red2: #D93535,
		red3: #D62323,
		fborder: #ebeff2,
		blockquote: #F8F8F8,
	),
	theme: (
		1: #3817E3,
		2: #fb5050,
	),
	bg: (
		gray: #EFEDF5,
		black: #000,
		white: #fff,
		bselect: #f6f6f6,
		tcolor: #3817E3,
        btag: #381bcf,
		manu-bar: #442AC8,
		features-bg: #F3F2ED, 
        features-bg2: #EAF0F8,
		features-bg3: #EAF6F2,
		grey-bg: #f6f8f9,
		grey2-bg: #F9F9FB,
		grey3-bg: #fcfcfc,
		off-green-bg: #eefbf3,
		warning-bg:  #fcf9f2,
		danger-bg:  #fef2f2,
		information-bg:  #f6f6ff,
		brand2-bg: #f8f5f4,
		secondary: #1e1e20,
		success: #16c149,
		warning: #efa904,
		danger: #d82525,
		information: #17a2b8,
		notice-success: #dbffe9,
		notice-warning: #fff9eb,
		notice-danger: #ffecec,
	),
);


