<header class="header2 header-transparent du-sticky-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-2 col-lg-2 col-md-6 col-6">
        <div class="header-main-left">
          <div class="header-logo header1-logo">
            <a href="index.html" class="logo-bl"><img src="assets/img/logo/logo-black.png" alt="logo-img" /></a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7 d-none d-lg-block">
        <div class="header-main-right ml-60">
          <div class="main-menu mr-30">
            <nav id="mobile-menu">
              <ul>
                <li class="menu-item-has-children"><a href="/">Inicio</a></li>
                <li class="menu-item-has-children"><a href="/">Categorías</a>
                  <ul class="sub-menu">
                    <li class="menu-item-has-children"><a href="/">Formatos</a>
                      <ul class="sub-menu">
                        <li><a href="/">Escolares</a></li>
                        <li><a href="/">Tramites</a>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="/">Blog</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-3 col-md-6 col-6">
        <div class="header-main-right d-flex align-items-center justify-content-end">
          <a href="/" class="duheader-btn d-none d-sm-block">Contáctanos</a>
        </div>
      </div>
    </div>
  </div>
</header>