  <!-- side toggle start -->
  <div class="fix">
    <div class="side-info" [ngClass]="{'info-open': openSideBar}">
      <div class="side-info-content">
        <div class="offset-widget offset-logo mb-40">
          <div class="row align-items-center">
            <div class="col-9">
              <a href="index.html" class="logo-bl">
                <img src="assets/img/logo/papel.png" alt="logo-img" />
                Papeleria.gratis
              </a>
            </div>
            <div class="col-3 text-end"><button class="side-info-close"  (click)="toggleSidebar()"><i class="fal fa-times"></i></button>
            </div>
          </div>
        </div>
        <div class="mobile-menu d-xl-none fix"></div>
        <div class="offset-widget offset_searchbar mb-30">
          <div class="menu-search position-relative ">
            <form action="#" class="filter-search-input">
              <input type="text" placeholder="Search keyword">
              <button><i class="fal fa-search"></i></button>
            </form>
          </div>
        </div>
        <div class="offset-widget offset_menu-top mb-20">
          <div class="header-menu-top-icon mb-20">
            <a href="tel:(555)574790456"><i class="fas fa-phone"></i>(555) 574 790 456</a>
            <a href="mailto:info@example.com"><i class="fal fa-envelope"></i>info@example.com</a>
            <i class="fal fa-map-marker-alt"></i><span>Aprox jue Austalia</span>
          </div>
        </div>
        <div class="offset-widget button mb-20">
          <a class="theme-btn" href="contact.html">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas-overlay" [ngClass]="{'overlay-open': openSideBar}"  (click)="toggleSidebar()"></div>
  <div class="offcanvas-overlay-white"></div>
  <!-- side toggle end -->
  <!-- header area start  -->
  <header class="header2 header-transparent du-sticky-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-lg-3 col-md-6 col-6">
          <div class="header-main-left">
            <div class="header-logo header1-logo">
              <a href="index.html" class="logo-bl">
                <img src="assets/img/logo/papel.png" alt="logo-img" />
                Papeleria.gratis
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6 d-none d-lg-block">
          <div class="header-main-right ml-10">
            <div class="main-menu mr-30">
              <nav id="mobile-menu">
                <ul>
                  <li class="menu-item-has-children"><a href="/">Inicio</a></li>
                  <li class="menu-item-has-children"><a href="/">Categorías</a>
                    <ul class="sub-menu">
                      <li class="menu-item-has-children"><a href="/">Formatos</a>
                        <ul class="sub-menu">
                          <li><a href="/">Escolares</a></li>
                          <li><a href="/">Tramites</a>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="/">Blog</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-3 col-md-6 col-6">
          <div class="header-main-right d-flex align-items-center justify-content-end">
            <a href="/" class="duheader-btn d-none d-sm-block">Contáctanos</a>
            <a class="side-toggle ml-30" (click)="toggleSidebar()">
              <div class="bar-icon bar2-icon">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>