@use "../abstract" as *;
/*----------------------------------------*/
/*  45. footer CSS
/*----------------------------------------*/
// footer area top
.footer-shape1 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	@media #{$xs} {
		display: none;
	}
}
.footer__widget {
	&-title {
		font-size: 22px;
		font-weight: 700;
		color: var(--clr-common-heading);
	}
	& p {
		font-size: 16px;
		margin-bottom: 30px;
	}
	&-social {
		li {
			margin-right: 8px;
			display: inline-block;
			a {
				color: var(--clr-common-f-social);
				font-size: 15px;
				height: 40px;
				width: 40px;
				text-align: center;
				line-height: 40px;
				display: inline-block;
				border-radius: 100%;
				border: 1px solid var(--clr-common-f-border);
				@include transition(0.3s);
				&:hover {
					background-color: var(--clr-common-blue);
					color: var(--clr-common-white);
					border: 1px solid var(--clr-common-blue);
				}
			}
		}
	}
	&-links {
		li {
			margin-bottom: 7px;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				font-size: 15px;
				color: var(--clr-common-text);
				@include transition(0.3s);
				&:hover {
					color: var(--clr-theme-1);
				}
			}
		}
	}
	&-subscribe {
		& .field:after {
			position: absolute;
			content: "";
			top: 16px;
			right: 25px;
			font-size: 15px;
			color: var(--clr-common-blue);
			font-family: "Font Awesome 5 Pro";
			cursor: pointer;
		}
		& .field input {
			height: 60px;
			width: 100%;
			border: 1px solid transparent;
			font-size: 14px;
			font-weight: normal;
			border-radius: 5px;
			color: var(--clr-common-body);
			display: block;
			padding: 0px 50px 0px 20px;
			outline: none;
			background: #f6f8f9;
			margin-bottom: 30px;
			transition: all 0.3s ease-out 0s;
		}
	}
}
.free__trial {
	line-height: 1;
	&-text {
		font-size: 14px;
		color: var(--clr-common-heading);
		position: relative;
	}
	img {
		position: absolute;
		top: -16px;
		right: -63px;
	}
}
.footer-2 {
	@media #{$lg} {
		margin-left: 78px;
	}
	@media #{$sm,$xs} {
		margin-left: 0px;
	}
}
.footer__widget-subscribe .field2 input {
	background-color: var(--clr-common-white);
}

// footer copyright area
.footer-copyright {
	border-top: 1px solid var(--clr-common-fcopy-border);
	p {
		color: var(--clr-common-text);
		font-size: 16px;
		margin-bottom: 0px;
	}
}
