@use "../abstract" as *;
/*----------------------------------------*/
/*   22. message-widgets CSS
/*----------------------------------------*/

.message__widgets {
	padding: 30px 40px 20px;
	border: 1.5px solid #e8e8e8;
	border-radius: 10px;
	margin-bottom: 30px;
	@media #{$xxs} {
		padding: 30px 19px 20px;
	}
	&-title {
		h4 {
			margin-bottom: 16px;
			font-size: 18px;
			font-weight: 500;
		}
	}
	&-icons {
		i {
			font-size: 25px;
			margin-right: 15px;
		}
	}
}

.message__widgets-2 {
	border: 1.5px solid #25b55f;
	i {
		color: #25b55f;
	}
}
.message__widgets-nborder {
	border: none !important;
}

.message__widgets-3 {
	border: 1.5px solid #f8b61b;
	i {
		color: #f8b61b;
	}
}
.message__widgets-4 {
	border: 1.5px solid #db1a1a;
	i {
		color: #db1a1a;
	}
}
.message__widgets-5 {
	border: 1.5px solid #1a47db;
	i {
		color: #1a47db;
	}
}
// Alart Iocn design
.message__widgets-alert-icon {
	position: absolute;
	right: 18px;
	top: 19px;
	i {
		font-size: 20px;
	}
}
// .message__widgets-alert-icon-1 {
// 	position: absolute;
// 	right: 13px;
// 	top: 10px;
// }
