<div class="banner-search align-items-center">
    <form class="search-form search2-form ">
        <div class="form-inner">
            <select class="banner_input banner-niceselect banner2-niceselect">
                <option value="">Todo</option>
                <option value="">Mapas</option>
                <option value="">Esquemas</option>
                <option value="">Formatos escolares</option>
                <option value="">Formatos contables</option>
                <option value="">Formatos para tramites</option>
            </select>
        </div>
        <input type="text" placeholder="Busco...">
        <button type="submit"> <i class="flaticon-search-interface-symbol"></i></button>
    </form>
</div>