<div class="team-area pt-120 pb-90">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-7">
                <div class="section_title_wrapper mb-50">
                    <h2 class="section-title">
                        Lo más destacado
                    </h2>
                    <p class="section-subtitle">
                        Te presentamos nuestros documentos más descargados
                    </p>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-5 mb-30 justify-content-md-end d-flex ">
                <div class="du_team-right">
                    <a href="team-members.html" class="theme-btn du_team-right-btn">Ver más</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="duteam text-center mb-30 ">
                    <div class="duteam-img mb-20 p-relative">
                        <img src="assets/img/team/team-1.jpg" alt="team img not found">
                        <div class="duteam-thumb-info">
                            <div class="duteam-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="duteam-info">
                        <h4 class="duteam-info-author">
                            <a href="team-member-details.html">Solicitud de empleo</a>
                        </h4>
                        <span>Formato</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="duteam text-center mb-30 ">
                    <div class="duteam-img mb-20 p-relative">
                        <img src="assets/img/team/team-2.jpg" alt="team img not found">
                        <div class="duteam-thumb-info">
                            <div class="duteam-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="duteam-info">
                        <h4 class="duteam-info-author">
                            <a href="team-member-details.html">Mapa de la república Mexicana s.n.</a>
                        </h4>
                        <span>Mapa</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="duteam text-center mb-30 ">
                    <div class="duteam-img mb-20 p-relative">
                        <img src="assets/img/team/team-3.jpg" alt="team img not found">
                        <div class="duteam-thumb-info">
                            <div class="duteam-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="duteam-info">
                        <h4 class="duteam-info-author">
                            <a href="team-member-details.html">Mapa de la república Mexicana c.n.</a>
                        </h4>
                        <span>Mapa</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="duteam text-center mb-30 ">
                    <div class="duteam-img mb-20 p-relative">
                        <img src="assets/img/team/team-4.jpg" alt="team img not found">
                        <div class="duteam-thumb-info">
                            <div class="duteam-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="duteam-info">
                        <h4 class="duteam-info-author">
                            <a href="team-member-details.html">Formato de compra venta</a>
                        </h4>
                        <span>Formato</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>